<% content_for :page_actions do %>
  <% if can?([:create], Spree::Order) %>
    <li>
      <%= link_to t("spree.admin.users.user_page_actions.create_order"), solidus_admin.new_order_path(user_id: @user.id), class: 'btn btn-primary' %>
    </li>
  <% end %>
<% end %>
